extend ../layout/cus_layout.pug

block content
  h1= client.p_name
  br
  .card.mb-3
    .card-header
      i.fa.fa-table
      |  프로젝트 상세
    .card-body
      .table-responsive
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th ID
              th 프로젝트 명
              th 시작일
              th 종료일
              th 매니저 이름
              th 매니저 이메일
            tbody
              tr
                td= client.p_id
                td= client.p_name
                td= moment(client.start_date).locale('ko').format('YYYY년 MMMM Do')
                td
                  case client.end_date
                    when null
                      p= '진행중'
                    default 
                      p= moment(client.end_date).locale('ko').format('YYYY년 MMMM Do')
                td= client.manager
                td= client.m_email
  .card.mb-3
    .card-header
      i.fa.fa-table
      |  프로젝트 참여 직원
    .card-body
      .table-responsive
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th ID
              th 직원 명
              th 시작일
              th 종료일
              th 평가하기
            tbody
              each pro in project
                tr
                  td= pro.employee_id
                  td= pro.name
                  td= moment(pro.start_date).locale('ko').format('YYYY년 MMMM Do')
                  td
                    case pro.end_date
                      when null
                        p= '진행중'
                      default 
                        p= moment(pro.end_date).locale('ko').format('YYYY년 MMMM Do')
                  td
                    case pro.EA
                      when 1
                        a.btn.btn-outline-info(href=`/evaluation/${client.p_id}/form/${pro.employee_id}`) 평가하기
                      when 0
                        button.btn.btn-default(disabled='disabled') 평가 불가

                    


                