extends ../layout/emp_layout.pug 

block content
  h1= "인사관리 - "+(all==1?"전체직원 목록":"참여중인 직원 목록")
  br 

  ul.nav.nav-pills.nav-fill.flex-column.flex-sm-row
    li.nav-item
      a.flex-sm-fill.text-sm-center.nav-link(class=(all==1?"active":"") href='#') 전체직원 목록
    li.nav-item
      a.flex-sm-fill.text-sm-center.nav-link(class=(all==0?"active":"") href='#') 참여중인 직원 목록 
    
  table#dataTable.table.table-bordered(width='100%', cellspacing='0')
    thead
      tr 
        th No.
        th 이름
        th 주민번호
        th role 
        th 상세보기
    tbody 
      each user in users
        tr 
          td= user.employee_id
          td= user.name
          td= user.RRNumber
          td= "none"
          td 
            a.title(href=`/emp/${emp.employee_id}`)
                button.btn.btn-primary 보기
