extends ../layout/emp_layout.pug

block content
  h1= title

  .card.mb-3
    .card-header
      i.fa.fa-table
      |  project detail
    .card-body
      h1 #{client.p_name}
      br
      h3 프로젝트 상세 내용
      .table-responsive
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th 발주처
              th 매니저
              th 매니저 email
              th 시작일
              th 종료일
            tbody
              tr
                  td= client.c_name
                  td= client.manager
                  td= client.m_email
                  td= client.start_date
                  td= client.end_date == null ? '진행중': client.end_date

      br
      h3 참여직원 리스트
      br
      a.btn.btn-primary(href=`/project/${project_id}/new`) 인원 투입하기
      |
      |
      a.btn.btn-primary(href=`/project/${project_id}/edit`) 인원 수정하기
      |
      |
      a.btn.btn-danger(href=`/project/${project_id}/delete`) 인원 삭제하기
      br
      br
      .table-responsive
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th 직원id
              th 직원명
              th 직무
              th 시작일
              th 종료일
              th 평가확인
            tbody
              each pro in project
                tr
                  td= pro.employee_id
                  td= pro.name
                  td= pro.job
                  td= pro.start_date
                  td= pro.end_date == null ? '진행중': pro.end_date
                  td
                    case pro.EA
                      when 1
                        a.btn.btn-outline-info(href='/evaluation/${pro.project_id}') 평가확인
                      when 0
                        button.btn.btn-default(disabled='disabled') 평가확인 불가

                  
