extends ../layout/emp_layout.pug

block content
  h1= title

  .card.mb-3
    .card-header
      i.fa.fa-table
      |  project detail
    .card-body
      h1 #{client.p_name}
      br
      h3 프로젝트 상세 내용
      .table-responsive
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th 발주처
              th 담당자
              th 담당자 이메일 
              th 시작일
              th 종료일
            tbody
              tr
                  td= client.c_name
                  td= client.manager
                  td= client.m_email
                  td= moment(client.start_date).locale('ko').format('YYYY년 MMMM Do')
                  td= client.end_date == null ? '진행중': moment(client.end_date).locale('ko').format('YYYY년 MMMM Do')

      br
      h3 참여직원 리스트
      br
      a.btn.btn-primary(href=`/project/${project_id}/new`) 인원 투입하기
      br
      br
      .table-responsive
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th ID
              th 직원명
              th 직무
              th 언어
              th 프레임워크
              th 시작일
              th 종료일
              th 평가확인
              th
            tbody
              each pro in project
                tr
                  td= pro.employee_id
                  td= pro.name
                  td= pro.job
                  th= pro.lang
                  th= pro.framework
                  td= moment(pro.start_date).locale('ko').format('YYYY년 MMMM Do')
                  td= pro.end_date == null ? '진행중': moment(pro.end_date).locale('ko').format('YYYY년 MMMM Do')
                  td
                    case pro.EA
                      when 1
                        a.btn.btn-outline-info(href='/evaluation/${pro.project_id}') 평가확인
                      when 0
                        button.btn.btn-default(disabled='disabled') 평가확인 불가
                  td
                    a.btn.btn-outline-primary.mb-3.btn-sm(href=`/project/${project_id}/edit`) 수정
                    |
                    |
                    |
                    |
                    |
                    a.btn.btn-outline-danger.mb-3.btn-sm(href=`/project/${project_id}/delete`) 삭제
