extends ../layout/emp_layout.pug

block content
  h1= "인사관리 - 전체 직원 상세보기"
  br
  h2 이름: #{employee[0].e_name}
  table#dataTable.table.table-bordered(width='100%', cellspacing='0')
    thead
      tr
        th 프로젝트 ID
        th 프로젝트 이름
        th 시작날짜
        th 종료 날짜
    tbody 
      each emp in employee
        tr 
          td= emp.project_id
          td= emp.p_name
          td= emp.start_date
          td= emp.end_date
