extends ../layout/emp_layout.pug

block content
  h1= title
  p= user.name

  .card.mb-3
    .card-header
      i.fa.fa-table
      |  project detail
    .card-body
      h2 프로젝트 상세 내용
      .table-responsive
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th 프로젝트 id
              th 프로젝트 명
              th 시작일
              th 종료일
              th 발주처
              th 매니저
              th 매니저 email
            tbody
              tr
                td= project[0].p_id
                td= project[0].pname
                td= project[0].p_start_date
                td= project[0].p_end_date == null ? '진행중': project[0].p_end_date
                td= project[0].cname
                td= project[0].manager
                td= project[0].o_email
      h2 내 정보
      

      h2 참여직원 리스트
      .table-responsive
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th 직원번호
              th 직원명
              th 직무
              th 시작일
              th 종료일
              th 평가하기
            tbody
              each pro in project
                tr
                  td= pro.e_id
                  td= pro.ename
                  td= pro.job
                  td= pro.w_start_date
                  td= pro.w_end_date == null ? '진행중': pro.w_end_date
                  td
                    a.btn.btn-outline-info(href=`/evaluation/${pro.p_id}`)=pro.EA == true ? '평가하기':'평가 불가'
                  


