extends ../layout/emp_layout.pug

block content
  h1= title

  .card.mb-3
    .card-header
      i.fa.fa-table
      |  project list
    .card-body
      .table-responsive
        a.btn.btn-outline-primary.mb-3(href='/project/new') 프로젝트 등록
        |
        |
        a.btn.btn-outline-primary.mb-3(href='/project/edit') 프로젝트 수정
        |
        |
        a.btn.btn-outline-danger.mb-3(href=`/project/delete`) 프로젝트 삭제
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th ID
              th 프로젝트 명
              th 시작일
              th 종료일
              th 가격
            tbody
              each pro in projects
                tr
                  td= pro.project_id
                  td
                    a.title(href=`/project/${pro.project_id}`)=pro.name
                  td= pro.start_date
                  td= pro.end_date
<<<<<<< HEAD:views/project/emp_list.pug
                  td= pro.price
=======
                  td #{pro.price} 원

>>>>>>> c5ab9a0eeaadf1cac7602a6fe64972d0d8ee8442:views/project/mg_list.pug

  
