extends ../layout/emp_layout.pug

block content
  h1= title

  .card.mb-3
    .card-header
      i.fa.fa-table
      |  project list
    .card-body
      .table-responsive
        a.btn.btn-outline-primary.mb-3(href='/project/new') 프로젝트 등록
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th ID
              th 프로젝트 명
              th 투입인원
              th 시작일
              th 종료일
              th 가격
              th
            tbody
              each pro in projects
                tr
                  td= pro.project_id
                  td
                    a.title(href='/project/'+pro.project_id)=pro.name
                  td= pro.members
                  td= pro.start_date
                  td= pro.end_date
                  td #{pro.price} 원
                  td
                    a.btn.btn-outline-primary.mb-3.btn-sm(href='/project/edit?id='+pro.project_id) 수정
                    |
                    |
                    |
                    |
                    |
                    a.btn.btn-outline-danger.mb-3.btn-sm(href=`/project/${pro.project_id}/delete`) 삭제
  
