extends ../layout/emp_layout.pug

block content
  h1.main-title 평가 작성
  table#dataTable.table.table-bordered(width='100%', cellspacing='0')
    thead
      tr
        th id
        th project name
        th job
        th project start date
        th project end date
    tbody
      each pro in question
        tr
          td= pro.question
          td
            a.title(href=`/project/${pro.project_id}`)=pro.name
          td= pro.job
          td= pro.start_date
          td= pro.end_date
  form(action='/evaluation/:project_id', method='POST')
    .form-group
      label(for='score') 점수
      input.form-control(type='text', id='score', name='score', placeholder='score')
    .form-group
      label(for='content') 내용
      input.form-control(type='text', id='content', name='content', placeholder='content')

    | 
    button.btn.btn-primary(type='submit') 평가 등록
