extends ../layout/emp_layout.pug

block content
  h1.main-title 평가할 멤버 선택
  .container
    .card.mb-3
      .card-header
        .card-body
          .table-responsive
            table#dataTable.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr 
                  th ID
                  th 직원명
                  th 업무 시작일
                  th 업무 종료일
                  th 평가하기

              tbody
                each m in members
                  tr
                    td= m.employee_id
                    td= m.name
                    td= moment(m.start_date).locale('ko').format('YYYY년 MMMM Do')
                    td
                      case m.end_date
                        when null
                          p= '진행중'
                        default 
                          p= moment(m.end_date).locale('ko').format('YYYY년 MMMM Do')
                    td
                      a.btn.btn-outline-info(href=`/evaluation/${project[0].project_id}/form/${m.employee_id}`) 평가하기