extends ../layout/emp_layout.pug

block content
  h1.main-title 평가 작성
  .container
    .card.mb-3
      .card-header
        p 프로젝트 정보
        .card-body
          .table-responsive
            table#dataTable.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr 
                  th ID
                  th 프로젝트명
                  th 직원명
                  th 업무 시작일
                  th 업무 종료일
              tbody
                each p in project
                    tr
                      td= p.project_id
                      td= p.name
                      td= moment(p.start_date).locale('ko').format('YYYY년 MMMM Do')
                      td= moment(p.end_date).locale('ko').format('YYYY년 MMMM Do')
                      td
    .card.mb-3
      .card-header
        .card-body
          .table-responsive
            table#dataTable.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr 
                  th ID
                  th 프로젝트명
                  th 점수
                  th 코멘트
              tbody
                form(action=`/evaluation/${project[0].project_id}/form/${evaluated_id}`, method='POST')
                  each q in questions
                    tr
                      td
                        p= q.question_id
                        .form-group
                          input.form-control(type='text', id='question_id', name='question_id',value=q.question_id, hidden= true)
                      td= q.question
                      td
                        .form-group
                          input.form-control(type='number', id='score', name='score', min="1" max="10", placeholder='score')
                      td
                        .form-group
                          textarea.form-control(id='content', name='content', placeholder='content')
                  |
                  button.btn.btn-outline-primary.mb-3.btn-sm(type='submit') 평가 등록