extends ../layout/emp_layout.pug

block content
  h1= title

  .card.mb-3
    .card-header
      i.fa.fa-table
      | client list
    .card-body
      .table-responsive
        h3 고객 조회
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th ID
              th 고객명
              th 전화번호
              th 주소
              th 수정
              th 삭제
          tbody
            each c in clients
              tr
                td= c.client_id
                td
                  a.title(href=`/client/${c.client_id}`)=c.name
                td= c.tel
                td= c.address
                td
                  a.btn.btn-primary(href='/client/${c.client_id}/edit') 수정
                td
                  a.btn.btn-danger(href='/client/${c.client_id}/delete') 삭제
        