extends ../layout/emp_layout.pug

block content
  h1= title
  .card.mb-3
    .card-header
      i.fa.fa-table
      | client detail
    .card-body
      .table-responsive
        h3 #{client[0].c_name}
        br
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th 프로젝트 ID
              th 프로젝트 이름
              th 시작일
              th 종료일
              th 담당자 이름
              th 담당자 이메일
              th 가격

          tbody
            each c in client
              tr
                td= c.p_id
                td
                  a.title(href=`/project/${c.p_id}`)= c.p_name
                td= c.start_date 
                td= c.end_date 
                td= c.manager
                td= c.email
                td= c.price
                     
    
  
