extends ../layout/emp_layout.pug

block content
  h1= title

  .card.mb-3
    .card-header
      i.fa.fa-table
      |  client detail
    .card-body
      h1 #{client[0].c_name} (ID: #{client[0].c_id})
      br
      .table-responsive
        table#dataTable.table.table-bordered(width='100%', cellspacing='0')
          thead
            tr
              th 의뢰한 프로젝트
              th 담당자
              th 담당자 email
          tbody
            each c in client
              tr
                td= c.p_name
                td= c.manager
                td= c.email