extends ../layout/emp_layout.pug 

block content
  h1= "인사관리 - 직원 조회"
  br
  ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
  #pills-tabContent.tab-content
    #pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='pills-home-tab')
        .card
          .card-header
            .card-body
              .table-responsive
                h3 전체 직원 조회
                table#dataTable.table.table-bordered(width='100%', cellspacing='0').accordion-toggle
                  thead
                    tr 
                      th ID
                      th 이름
                      th 주민번호
                      th 학력
                      th 입사일
                      th 부서
                      th 이메일
                      th 프로젝트
                      th 상세보기
                      th
                  tbody 
                    each emp in employees
                      tr 
                        td= emp.employee_id
                        td
                          a.title(href=`/hr/${emp.employee_id}`) #{emp.name}
                        td= emp.RRNumber
                        td= emp.education
                        td= moment(emp.date_of_entry).locale('ko').format('YYYY년 MMMM Do')
                        td= emp.department_name
                        td= emp.email
                        td
                          button.btn.btn-primary(data-toggle="collapse" data-target="#collapse"+emp.employee_id aria-expanded="false" aria-controls="collapse"+emp.employee_id) 참여 프로젝트 보기
                        td
                          a.btn.btn-outline-primary.mb-3.btn-sm(href='/hr/edit?id='+emp.employee_id) 수정
                          |
                          |
                          |
                          |
                          |
                          a.btn.btn-outline-danger.mb-3.btn-sm(href=`/hr/${emp.employee_id}/delete`) 삭제
                      tr
                        td(colspan='9').hiddenRow
                          .accordian-body.collapse(id="collapse"+emp.employee_id)
                            table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                              thead
                                tr
                                  th 프로젝트명
                                  th 시작일
                                  th 종료일
                              tbody
                                each project in p_employees
                                  case project.employee_id
                                    when emp.employee_id
                                      tr
                                        td= project.p_name
                                        td= moment(project.start_date).locale('ko').format('YYYY년 MMMM Do')
                                        td= moment(project.end_date).locale('ko').format('YYYY년 MMMM Do')
