extends ../layout/emp_layout.pug

block content
  h1= "인사관리 - 전체 직원 상세보기"
  br
  h2 이름: #{employee[0].name}
  .container
    .card.mb-3
          .card-header
            .card-body
              .table-responsive
                h3 
                table#dataTable.table.table-bordered(width='100%', cellspacing='0')
                  thead
                    tr
                      th ID
                      th 프로젝트 명
                      th 시작일
                      th 종료일
                  tbody 
                    each pro in projects
                      tr 
                        td= pro.project_id
                        td= pro.p_name
                        td= pro.start_date
                        td= pro.end_date
