extends ../layout/emp_layout.pug

block content
  h1= "인사관리 - 전체 직원 상세보기"
  br
  h2 이름: #{employee[0].name}
  .container
    .card.mb-3
      .card-header
        i.fa.fa-table
        |  project list
      .card-body
        .table-responsive
          h3 진행중인 프로젝트
          table#dataTable.table.table-bordered(width='100%', cellspacing='0')
            thead
              tr
                th ID
                th 프로젝트 명
                th 시작일
                th 종료일
            tbody 
              each pro in progress
                tr 
                  td= pro.project_id
                  td
                    a.title(href=`/project/${pro.project_id}`)=pro.name
                  td= moment(pro.start_date).locale('ko').format('YYYY년 MMMM Do')
                  td= moment(pro.end_date).locale('ko').format('YYYY년 MMMM Do')

          h3 완료한 프로젝트
          table#dataTable.table.table-bordered(width='100%', cellspacing='0')
            thead
              tr
                th ID
                th 프로젝트 명
                th 시작일
                th 종료일
            tbody 
              each pro in done
                tr 
                  td= pro.project_id
                  td
                    a.title(href=`/project/${pro.project_id}`)=pro.name
                  td= moment(pro.start_date).locale('ko').format('YYYY년 MMMM Do')
                  td= moment(pro.end_date).locale('ko').format('YYYY년 MMMM Do')

          h3 시작 전인 프로젝트
          table#dataTable.table.table-bordered(width='100%', cellspacing='0')
            thead
              tr
                th ID
                th 프로젝트 명
                th 시작일
                th 종료일
            tbody 
              each pro in notyet
                tr 
                  td= pro.project_id
                  td
                    a.title(href=`/project/${pro.project_id}`)=pro.name
                  td= moment(pro.start_date).locale('ko').format('YYYY년 MMMM Do')
                  td= moment(pro.end_date).locale('ko').format('YYYY년 MMMM Do')
    .card.mb-3
      .card-header
        i.fa.fa-table
        |  평가 평균 점수
      .card-body
        .table-responsive
          h3 
          table#dataTable.table.table-bordered(width='100%', cellspacing='0')
            thead
              tr
                th 평가항목
                th 전체평균
            tbody 
              each eva in evaluations
                tr 
                  td= eva.question
                  td= eva.score
    .card.mb-3
      .card-header
        i.fa.fa-table
        |  평가 상세
      .card-body
          .table-responsive
            h3 
            table#dataTable.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr
                  th 평가항목
                  th 점수
                  th 코멘트

              tbody 
                each com in comments
                  tr 
                    td= com.question
                    td= com.score
                    td= com.content
