extends ../layout/emp_layout

block content
  .container
    .card.mb-3
      .card-header
        i.fa.fa-table
        |  직원 수정
        .card-body
          .table-responsive
            h3 직원 수정
            table#dataTable.table.table-bordered(width='100%', cellspacing='0')
              thead
                tr
                  th ID
                  th 이름
                  th 주민번호
                  th 학력
                  th 입사일
                  th 부서
                  th 이메일
                  th 수정하기
              tbody
                each e in employee
                  tr
                    form(action=`/hr/edit/${e.employee_id}`, method='POST')
                      td= e.employee_id
                        .form-group
                          input.form-control(id='employee_id', name='employee_id', hidden="true")
                      td
                        .form-group
                          input.form-control(id='name', name='name', value=e.name)
                      td= e.RRNumber
                        .form-group
                          input.form-control(id='RRNumber', name='RRNumber', value=e.RRNumber, hidden="true")
                      td
                        .form-group
                          select.form-control(name="education")
                            option(value="고졸")= "고졸"
                            option(value="학사")= "학사"
                            option(value="석사")= "석사"
                            option(value="박사")= "박사"
                      td= moment(e.date_of_entry).locale('ko').format('YYYY년 MMMM Do')
                        .form-group
                          input.form-control(id='date_of_entry', name='date_of_entry', value=e.date_of_entry, hidden="true")
                      td
                        .form-group
                          select.form-control(name="department_id")
                            each department in departments
                              option(value=department.department_id)= department.department_name
                      td
                        .form-group
                          input.form-control(id='email', name='email', value=e.email)
                      
                      td
                        button.btn.btn-primary(type='submit') 수정하기